In [1]:
import pandas as pd
data = [
    [170, 65, 19, 85, 5],
    [180, 75, 20, 90, 6],
    [160, 55, 18, 80, 4],
    [175, 70, 21, 88, 7],
    [155, 50, 19, 82, 5],
    [165, 62, 22, 89, 6],
    [178, 80, 23, 91, 7],
    [162, 58, 20, 78, 3],
    [172, 68, 19, 86, 5],
    [169, 66, 20, 84, 4],
    [171, 64, 22, 87, 6],
    [177, 72, 21, 90, 9],
    [174, 76, 24, 88, 8],
    [158, 52, 18, 75, 3],
    [164, 63, 19, 81, 4]
]

column = ['Height', 'Weight', 'Age', 'AvgGrade', 'Courses']

dataframe = pd.DataFrame(data, columns=column)
print(dataframe.describe())

           Height     Weight        Age   AvgGrade    Courses
count   15.000000  15.000000  15.000000  15.000000  15.000000
mean   168.666667  65.066667  20.333333  84.933333   5.466667
std      7.687343   8.811248   1.799471   4.817626   1.767430
min    155.000000  50.000000  18.000000  75.000000   3.000000
25%    163.000000  60.000000  19.000000  81.500000   4.000000
50%    170.000000  65.000000  20.000000  86.000000   5.000000
75%    174.500000  71.000000  21.500000  88.500000   6.500000
max    180.000000  80.000000  24.000000  91.000000   9.000000