In [2]:
import pandas as pd

data = [
    [170, 65, 19, 85, 5],
    [180, 75, 20, 90, 6],
    [160, 55, 18, 80, 4],
    [175, 70, 21, 88, 7],
    [155, 50, 19, 82, 5],
    [165, 62, 22, 89, 6],
    [178, 80, 23, 91, 7],
    [162, 58, 20, 78, 3],
    [172, 68, 19, 86, 5],
    [169, 66, 20, 84, 4],
    [171, 64, 22, 87, 6],
    [177, 72, 21, 90, 9],
    [174, 76, 24, 88, 8],
    [158, 52, 18, 75, 3],
    [164, 63, 19, 81, 4]
]

columns = ['Height', 'Weight', 'Age', 'Avg_Grade', 'Courses']

dataframe = pd.DataFrame(data, columns=columns)

avggrade_age= dataframe.groupby('Age')['Avg_Grade'].mean()

print(avggrade_age)

Age
18    77.5
19    83.5
20    84.0
21    89.0
22    88.0
23    91.0
24    88.0
Name: Avg_Grade, dtype: float64