In [1]:
import pandas as pd
data = [
    [170, 65, 19, 85, 5],
    [180, 75, 20, 90, 6],
    [160, 55, 18, 80, 4],
    [175, 70, 21, 88, 7],
    [155, 50, 19, 82, 5],
    [165, 62, 22, 89, 6],
    [178, 80, 23, 91, 7],
    [162, 58, 20, 78, 3],
    [172, 68, 19, 86, 5],
    [169, 66, 20, 84, 4],
    [171, 64, 22, 87, 6],
    [177, 72, 21, 90, 9],
    [174, 76, 24, 88, 8],
    [158, 52, 18, 75, 3],
    [164, 63, 19, 81, 4]
]

column = ['Height', 'Weight', 'Age', 'AvgGrade', 'Courses']

dataframe = pd.DataFrame(data, columns=column)
print(dataframe)

    Height  Weight  Age  AvgGrade  Courses
0      170      65   19        85        5
1      180      75   20        90        6
2      160      55   18        80        4
3      175      70   21        88        7
4      155      50   19        82        5
5      165      62   22        89        6
6      178      80   23        91        7
7      162      58   20        78        3
8      172      68   19        86        5
9      169      66   20        84        4
10     171      64   22        87        6
11     177      72   21        90        9
12     174      76   24        88        8
13     158      52   18        75        3
14     164      63   19        81        4